<html lang="en">
{%load static %}
<head>
  <link rel="stylesheet" href="index.css">
  <title>success page</title>
</head>
<style>
  body{
    background-image: url("{% static 'background.jpg' %}");
  }
</style>
<body>
<script>
alert('{{alertmessage}}');
{% comment %} <div class="main-options">
  <a href="'receptionist/recephome/makepayment">
      <div class="option">
          <span>make payment</span>
      </div> {% endcomment %}
     
 


</script>

</body>
</html>
